@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --color-bg: #fff;
  --color-txt: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.1s ease-in;
}


body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  /* background-color: black; */
  height: 60px;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(30px);
}

#logo {
  height: 100%;
  width: 20rem;
}
#logo a {
  text-decoration: none;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: var(--color-txt);
  display: flex;
  padding-left: 60px;
  padding-top: 12px;
  font-size: 22px;
}
.menu {
  display: flex;
  margin-top: 4px;
  height: 100%;
  width: 100%;
  /* border: 2px solid white; */
  justify-content: space-between;
  justify-content: center;
  gap: 2.5rem;
}
.menu a {
  text-decoration: none;
  color: var(--color-txt);
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  padding-top: 15px;
  font-size: 18px;
}
.menu a:hover {
  color: var(--color-txt);
  text-decoration: underline;
}
.menu-1 {
  display: flex;
  margin-bottom: 1px;
  justify-content: space-between;
  height: 100%;
  width: 20rem;
}
.menu-1 a {
  text-decoration: none;
  color: var(--color-txt);
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin: auto;
  /* padding: 14px; */
  font-size: 18px;
}
.menu-1 a:hover {
  /* border-radius:4px solid white; */
  color: bisque;
  text-decoration: underline;
}
#btn {
  width: 80px;
  height: 40px;
  border-radius: 30px;
  background-color: white;
  font-size: 14px;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
#btn-1 {
  padding-top: 10px;

}
.form-container {
  height: 100%;
  width: 100%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-size: cover;
  height: 100vh;
  display: flex;
  color: var(--color-txt);
  background-color: var(--color-bg)
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 40px;
}

.location-form {
  background-color: var(--color-bg);
  border-radius: 10px;
  box-shadow:  4px 4px 8px rgba(0, 0, 0, 0.4);
  padding: 30px;
  /* max-width: 500px; */
  margin: 0 auto;
  position: relative;
  
}

.form-group {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group input[type="text"] {
  width: 25rem;
  height: 3rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 40px;
}

.form-group input[type="text"]:first-child {
  margin-right: 10px;
}

.form-group .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #888;
}

.form-group .line {
  position: absolute;
  left: 25px;
  top: 0;
  height: 100%;
  border-left: 2px solid #ccc;
}

.form-group:last-child .line {
  display: none;
}

.form-group input[type="text"]::placeholder {
  color: #888;
}

.form-group button {
  width: 150px;
  height: 50px;
  background: #000;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form-group button:hover {
  background: #333;
  color: #fff;
}

.form-group button:focus {
  outline: none;
}

.modal {
  height: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  backdrop-filter: brightness(0.5);
  z-index: 2;
}

.close {
  position: fixed;
  right: 6rem;
  top: 2rem;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  display: none;
}


.map-container {
  height: 100%;
  width: 100%;
  /* background-color: white; */
  display: flex;
  z-index: 3;
  justify-content: center;
  align-items: center;
}

.map-area {
    height: 80%;
    width: 80%;
    /* background-color: red; */
    margin-top: 3.5rem;
    border-radius: 3rem;
    /* border: 1px solid red; */
}

.map-area iframe {
    height: 100%;
    width: 100%;
    border-radius: 3rem;
}

.btns {
  display: flex;
  /* flex-direction: column; */
  gap: 2rem;
}